mixin heroHome
  .hero__col
    h2.hero__title.accent-title=heroTitleHome        
    h3.hero__subtitle.subtitle=heroSubTitleHome
    a(href=heroButtonLinkHome).btn=heroButtonTitleHome
  .hero__col
    .hero__img
      img(src="images/dist/"+heroImgHome, alt="")
mixin heroNutritionProgramms
  .hero__col
    h2.hero__title.accent-title=heroTitleNutritionPrograms        
    h3.hero__subtitle.subtitle=heroSubTitleNutritionPrograms
  .hero__col
    .hero__img
      img(src="images/dist/"+heroImgNutritionPrograms, alt="")
mixin heroDelivery
  .hero__col
    h2.hero__title.accent-title=heroTitleDelivery        
  .hero__col
    .hero__img
      img(src="images/dist/"+heroImgDelivery, alt="")
mixin heroShops
  .hero__col
    h2.hero__title.accent-title=heroTitleShops        
    h3.hero__subtitle.subtitle=heroSubTitleShops        
  .hero__col
    .hero__img
      img(src="images/dist/"+heroImgShops, alt="")